<!-- Main page container centered horizontally -->
<div class="department-page flex justify-center">
  <!-- Vertical layout container that centers all elements and keeps consistent width -->
  <div class="flex flex-col items-center text-center w-full max-w-lg gap-4">

    <p-breadcrumb [home]="home" [model]="items" />

    <!-- Page title -->
    <h1 class="department-title">Liste des communes</h1>

    <!-- Table -->
    <app-test-technique-table
      [value]="allCommunes"
      [paginator]="true"
      [rows]="6"
      [columns]="communeColumns"
    ></app-test-technique-table>


  </div>
</div>
