<!-- Main page container centered horizontally -->
<div class="department-page flex justify-center">
  <!-- Vertical layout container that centers all elements and keeps consistent width -->
  <div class="flex flex-col items-center text-center w-full max-w-lg gap-4">
    <!-- Page title -->
    <h1 class="department-title">Liste des communes</h1>

    <p class="department-desc">
      Tapez le nom d'une région pour sélectionner la région souhaitée.
    </p>

    <!-- Table -->


  </div>
</div>
