@import "primeicons/primeicons.css";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
	flex: 1 1 auto;
	display: flex;
  justify-content: center;
  align-items: center;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

app-footer {
  width: 100%;
}

.video-wrap {
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
