@import "primeicons/primeicons.css";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
	flex: 1 1 auto;
	display: block;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

app-footer {
  width: 100%;
}
