.p-menubar {
  position: relative;
  border: none;
  background: none;
}

.menubar-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
  font-family: var(--ff-unbounded, 'Unbounded', sans-serif);
  letter-spacing: 0.5px;
  color: #ffffff;
  font-size: 1.25rem;
}

@media (max-width: 640px) {
  .menubar-title { display:none; }
}
