<p-menubar>
  <ng-template #start>
    <a href="/">
      <img
        src="https://www.keyconsulting.fr/images/logo.svg"
        alt="Logo Key Consulting"
        class="mr-2"
      />
    </a>
    <div class="menubar-title">
      <span class="text-lg font-bold">Test technique frontend</span>
    </div>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <p-avatar
        image="https://avatars.githubusercontent.com/u/63116096?v=4"
        shape="circle"
      />
    </div>
  </ng-template>
</p-menubar>
