@import "primeicons/primeicons.css";

/* Google font Anton for headings */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body, app-root {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
