@import "primeicons/primeicons.css";

html, body, app-root {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
